html, body {
  font-family: 'Mukta', sans-serif;
  font-size: 1em;
  height: 100%;
  margin: 0;
}

.page {
  transition: background-color 250ms ease-in-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html.dark {
  background: var(--color-blue-900);
  background: linear-gradient(0deg, #000c09 0%, #003076 100%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  color: var(--color-mint);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Animations */
.text-swipe-animation,
.text-swipe-animation::after,
.text-swipe-animation-reverse,
.text-swipe-animation-reverse::after {
  will-change: transform, transform-origin, clip-path;
  animation-delay: 0.15s;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
}

.text-swipe-animation {
  position: relative;
  animation-name: clip-text;
}

.text-swipe-animation-reverse {
  position: relative;
  animation-name: clip-text-reverse;
}

/* Text reveal ::after */
.text-swipe-animation::after,
.text-swipe-animation-reverse::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #15FF93;
  pointer-events: none;
}

.text-swipe-animation::after {
  transform: scaleX(0);
  transform-origin: 0 50%;
  animation-name: text-swiper;
}

.text-swipe-animation-reverse::after {
  transform: scaleX(0);
  transform-origin: 100% 50%;
  animation-name: text-swiper-reverse;
}

/* Keyframes for text reveal animation */
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-swiper {
  0%, 50% { transform-origin: 0 50%; }
  60%, 100% { transform-origin: 100% 50%; }
  60% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}

@keyframes clip-text-reverse {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-swiper-reverse {
  0%, 50% { transform-origin: 100% 50%; }
  60%, 100% { transform-origin: 0 50%; }
  60% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}