@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 0.25 }
}

.wave-container {
  animation: fadein 1s;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
  position: absolute;
  width: 100%;
  height: 80vh;
  z-index: -1;
}

.wave-container canvas {
  height: 100% !important;
  width: 100% !important;
  position: relative;
}

@media (max-width: 640px) {
  .wave-container {
    width: 600px;
    height: 40vh;
  }
}
