---
title: Luke Liasi
desc: Software engineer, passionate about solving problems with code. Over 8 years of industry experience specialising in JavaScript, React & Node.
site_url: https://lukeliasi.com
og_image: /public/og-image.jpg
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if canonical %}
      <link rel="canonical" href="{{ canonical }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/main.css">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ desc }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site_url }}{{ canonical }}" />
    <meta property="og:image" content="{{ site_url }}{{ og_image }}" />
    <script defer data-domain="lukeliasi.com" src="https://analytics.lukeliasi.com/js/plausible.js"></script>

    {# Order of this is important, sets the theme before HTML renders otherwise you can get flashy behaviour #}
    <script>
      (function() {
        const theme = localStorage.getItem("theme") || "dark";
        window.theme = theme;
        document.documentElement.classList.add(theme);
      })();
    </script>
  </head>
  <body class="page flex flex-col h-screen {% if page.fileSlug %}page-{{ page.fileSlug }}{% endif %} dark:bg-navy bg-silver-100">
    {% include 'header.njk' %}
    <main class="flex-grow relative mb-12">{{ content | safe }}</main>
    {% include 'footer.njk' %}
    <script type="module" src="/public/bundle.js"></script>
  </body>
</html>
