<img src="/public/javascript.svg" alt="JavaScript" title="JavaScript">
<img src="/public/typescript.svg" alt="TypeScript" title="TypeScript">
<img src="/public/react.svg" alt="React" title="React">
<img src="/public/nodejs.svg" alt="NodeJS" title="NodeJS">
<img src="/public/html.svg" alt="HTML" title="HTML">
<img src="/public/css.svg" alt="CSS" title="CSS">
<img src="/public/tailwind.svg" alt="Tailwind CSS" title="Tailwind CSS">
<img src="/public/python.svg" alt="Python" title="Python">
<img src="/public/mongodb.svg" alt="MongoDB" title="MongoDB">
<img src="/public/selenium.svg" alt="Selenium" title="Selenium">
<img src="/public/mocha.svg" alt="Mocha" title="Mocha">
<img src="/public/linux.svg" alt="Linux" title="Linux">
<img src="/public/git.svg" alt="Git" title="Git">
<img src="/public/xd.svg" alt="Adobe XD" title="Adobe XD">
<img src="/public/ps.svg" alt="Adobe Photoshop" title="Adobe Photoshop">
<img src="/public/ai.svg" alt="Adobe Illustrator" title="Adobe Illustrator">
<img src="/public/figma.svg" alt="Figma" title="Figma">