{% set socialIconClasses = "dark:text-mint-500 text-blue-500 dark:hover:text-mint-200 hover:text-blue-200 text-xl" %}

<footer class="container max-w-6xl flex justify-between py-6 items-center sm:flex-row flex-col-reverse">
  <p class="font-ibm-plex-mono text-sm dark:text-silver-400 text-silver-900 text-center sm:text-left">Copyright &copy {% currentYear %} Luke Liasi. Website source code on <a class="dark:text-mint-600 text-blue-600" target="_blank" rel="noreferrer" href="https://github.com/lukeliasi/lukeliasi.com">GitHub</a>.</p>

  <div class="flex space-x-2 mb-2 sm:mb-0">
    {% socialIcon { icon: "github", link: "https://github.com/lukeliasi", classes: socialIconClasses } %}
    {% socialIcon { icon: "twitter", link: "https://twitter.com/lukeliasi", classes: socialIconClasses } %}
    {% socialIcon { icon: "linkedin", link: "https://www.linkedin.com/in/lukeliasi/", classes: socialIconClasses } %}
  </div>
</footer>

