<header class="my-8">
  <div class="container max-w-6xl">
    <div class="flex justify-between group z-10">
      <a href="/" class="avatar flex items-center peer">
        <img width="35px" class="rounded-full group-hover:brightness-125" src="/public/profile-pic.jpg" alt="Luke Liasi profile picture" />
        <span class="ml-2 dark:group-hover:text-white dark:text-silver-100 text-silver-900">Luke Liasi</span>
      </a>

      {% include "menu.njk" %}
    </div>
  </div>
</header>
