<nav id="mainNav" class="flex items-center sm:flex-row flex-row-reverse menu-closed">
  {% mobileMenuToggleButton %}

  <ul class="menu-list hidden sm:inline-flex gap-x-8 items-center">
    {%- for item in collections.all | eleventyNavigation -%}
      {%- if item.url -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
        {% menuItem { text: item.title, link: item.url, active: isCurrent } %}
      {%- endif -%}
    {%- endfor -%}

    <li>
      {% include "resumeButton.njk" %}
    </li>
  </ul>

  {% themeToggleButton %}
</nav>
