{% set buttonBaseStyles = "flex justify-center items-center px-4 py-1 border-2 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white" %}
{% set buttonTextStyles = "text-sm font-medium dark:text-orange-500 text-blue-500" %}
{% set buttonBackgroundStyles = "bg-transparent dark:hover:bg-orange-500/20 hover:bg-blue-500/20" %}
{% set buttonBorderStyles = "border-2 border-gray-300 dark:border-orange-500 border-blue-500" %}

{% set filePath = "/public/cv.pdf"  %}

<a href="{{ filePath }}" download type="button" class="{{ buttonBaseStyles }} {{ buttonTextStyles }} {{ buttonBackgroundStyles }} {{ buttonBorderStyles }}">
  Résumé
  <svg class="ml-2" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line>
  </svg>
</a>
