---
import DefaultLayout from '../components/LayoutDefault.astro';
import { yearsInIndustry } from "../js/yearsInIndustry";
import DevLogo, { devIcons } from '../components/DevLogo.astro';
import TimelineItem from "../components/TimelineItem.astro";
---

<DefaultLayout documentTitle="About" documentDescription="I'm Luke, a Senior Software Developer based in the UK with over 9 years of experience building software.">
  <section class="container">
    <h1 class="main-heading text-swipe-animation" id="greeting">
      <!-- Value inserted via greeting.js -->
    </h1>
    <div class="intro">
      <p>I'm Luke, a Senior Software Developer based in the UK with over {yearsInIndustry} years of experience building software.</p>
    </div>

    <div class="main-section">
      <img class="profile-photo" src="/images/me.png" alt="Luke Liasi">
      <div class="main-section-text">
        <p>I am proficient in a variety of technologies including JavaScript, TypeScript, React, HTML, and CSS. I have a keen interest in design and UI/UX, and I also have experience with back end development using Node/Express.js, SQL/NoSQL, and REST/GraphQL.</p>
        <p>I'm passionate about solving problems and building efficient, organised systems that are fast, performant and accessible to everyone.</p>
        <p>In my free time, I enjoy activities such as skiing, swimming, running and gaming.</p>
      </div>
    </div>
  </section>

  <!-- TODO: Consider replacing this for a mansory grid, filter by category etc... it will be easier for recruiters and co to easily see and match my skills  -->
  <section class="marquee">
    <div class="marquee-content">
      {devIcons.map(devIcon => <DevLogo icon={devIcon.title} />)}
    </div>

    <!-- Logos duplicated for scrolling effect -->
    <div aria-hidden="true" class="marquee-content">
      {devIcons.map(devIcon => <DevLogo icon={devIcon.title} />)}
    </div>
  </section>

  <section class="container">
    <h2 class="sub-heading">Experience</h2>

    <div class="timeline-items">
      <TimelineItem
        isCurrent
        company="LondonLink"
        workLocation="Remote"
        title="Senior Software Developer"
        startDate="May 2021"
        logo="/images/LondonLink_Logo.svg"
        responsibilities={[
          "Lead front end engineer, designing and implementing new features for the trading platform.",
          "Implementing real-time websocket interfaces, which help to improve data concurrency/consistency and user experience.",
          "Developing internal compliance tools which have been recognised by the company's board of directors for significantly improving staff workflows and adherence to regulatory commitments.",
          "Conducting comprehensive end-to-end testing using tools such as Selenium, Mocha, and Chai to improve software quality, resulting in a reduction of defects and bugs."
        ]}
      />

      <TimelineItem
        company="Dodec"
        workLocation="Remote"
        title="Senior Software Developer"
        startDate="Oct 2017"
        endDate="May 2021"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Project lead responsible for the successful launch of the Tefal UK e-commerce Magento store project, delivering the project on time and within budget. Duties include maintaining strict timelines and deadlines, and managing multiple cross-company teams and personnel, as well as collaborating with the client to understand their requirements.",
          "Plan and lead the development of a bespoke medical application that is composed of a Node.js back end and a React.js front end, ensuring strict compliance with security and privacy requirements while coordinating the work of an in-house team.",
          "Mentoring junior developers by providing technical guidance and support. Implementing best practices and standards for coding and testing, including using linting tools like ESLint and implementing pull-request workflows, to improve the team's code performance and reliability."
        ]}
      />

      <TimelineItem
        company="Dodec"
        workLocation="Hybrid"
        title="Software Developer"
        startDate="Sep 2014"
        endDate="Oct 2017"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Directing the development of landing pages showcasing new products for household brands, including Tefal and Krups, optimising them for mobile compatibility using responsive design techniques, resulting in increased conversions.",
          "Designing and developing a streamlined experience for customers to register their GroupeSEB products, creating a scalable API built with Node.js and Express.js, and a MongoDB database capable of handling a high amount of traffic and requests.",
          "Designing and developing custom WordPress themes and plugins for a range of clients.",
        ]}
      />

      <TimelineItem
        company="Dodec"
        workLocation="On-Site"
        title="Junior Software Developer"
        startDate="Sep 2013"
        endDate="Sep 2014"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Assisting in designing and developing static websites using HTML, CSS, and JavaScript.",
          "Experience working on a Ruby on Rails project for a large-scale employment platform, implementing key features and enhancements while developing a deep understanding of the Ruby on Rails framework and its capabilities.",
          "Providing technical support and guidance to non-technical staff, helping them to understand and use the company's web-based software platform more effectively by creating a series of training materials and tutorials.",
        ]}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .main-section {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
  }

  .profile-photo {
    width: 200px;
  }

  /* Marquee styles */
  .marquee {
    --gap: 1.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin: 3.5rem 0;
    &:hover {
      .marquee-content {
        animation-play-state: paused;
      }
    }
  }

  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 30s linear infinite reverse;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
    .marquee-content {
      animation-play-state: paused !important;
    }
  }

  .sub-heading {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
  }


  @media screen and (max-width: 980px) {
    .main-section {
      gap: 1rem;
      display: block;
      word-break: break-word;
    }

    .profile-photo {
      float: left;
      width: 152px;
      margin: 10px;
    }

    :global(.devicon) {
      width: 45px !important;
      height: 45px !important;
    }
  }
</style>

<script hoist>
  import { greeting } from "../js/greeting";
  const greetingContainer = document.getElementById("greeting");
  greetingContainer.innerText = greeting();
</script>