---
import DefaultLayout from '../components/LayoutDefault.astro';
import { yearsInIndustry } from "../js/yearsInIndustry";
import DevLogo, { devIcons } from '../components/DevLogo.astro';
import TimelineItem from "../components/TimelineItem.astro";
---

<DefaultLayout documentTitle="About" documentDescription={`I'm Cristian, a Software Developer with over ${yearsInIndustry} years of experience building software.`}>
  <section class="container">
    <h1 class="main-heading text-swipe-animation" id="greeting">
      <!-- Value inserted via greeting.js -->
    </h1>
    <div class="intro">
      <p>I'm Cristian, a Software Developer with over {yearsInIndustry} years of experience building software.</p>
    </div>

    <div class="main-section">
      <img class="profile-photo" src="/images/me.png" alt="Cristian Ionut Olteanu">
      <div class="main-section-text">
        <p>Proficient in a variety of technologies including JavaScript, TypeScript, React, HTML, and CSS. I have a keen interest in Developer Experience.</p>
        <p>Passionate about solving problems and building efficient, organised systems that are fast, performant and accessible to everyone.</p>
        <p>In my free time, I enjoy activities such as hiking, traveling and find magical places.</p>
      </div>
    </div>
  </section>

  <!-- TODO: Consider replacing this for a mansory grid, filter by category etc... it will be easier for recruiters and co to easily see and match my skills  -->
  <section class="marquee">
    <div class="marquee-content">
      {devIcons.map(devIcon => <DevLogo icon={devIcon.title} />)}
    </div>

    <!-- Logos duplicated for scrolling effect -->
    <div aria-hidden="true" class="marquee-content">
      {devIcons.map(devIcon => <DevLogo icon={devIcon.title} />)}
    </div>
  </section>

  <section class="container">
    <h2 class="sub-heading">Experience</h2>

    <div class="timeline-items">

      <TimelineItem
        company="Sectorea"
        workLocation="Remote"
        title="Web Developer"
        startDate="Mar 2023"
        logo="/images/Sectorea.svg"
        responsibilities={[
          "Applied all my knowledge of TypeScript, unit testing and architecture to have the best DX and developer journey.",
          "Applied certain libraries to improve DX and robustness.",
          "Made some recommendation of how to apply a flow in the application we saved loading screens and rebundant calls.",
          "Mentoring junior developers by providing technical guidance and support. Implementing best practices and standards for coding and testing, including using linting tools like ESLint, to improve the team's code performance and reliability.",
        ]}
      />

      <TimelineItem
        company="Centauro Rent a Car"
        workLocation="On-Site"
        title="Web Developer"
        startDate="Sep 2022"
        endDate="Mar 2023"
        logo="/images/CentauroRentACar.svg"
        responsibilities={[
          "Learned to develop pages and components using TDD, testing the full funcionality of them.",
          "Managed to develop an Excel-like table without using external libraries.",
          "Acquired an in-depth knowledge of react hooks.",
          "Improved the robustness of the applications by improving their typing, with different assertion methods and mappings.",
          "Improved the DX and the developer journey in the applications with small details.",
        ]}
      />

      <TimelineItem
        company="Lynx View"
        workLocation="Hybrid"
        title="Web Developer"
        startDate="Apr 2021"
        endDate="Sep 2022"
        logo="/images/LynxView.svg"
        responsibilities={[
          "Development of reusable components using React, Angular and Vue",
          "Making the UX/UI design a reality",
          "HTML, CSS, Sass, TypeScript and JavaScript development",
          "Experience with Agile methodologies",
          "Working with a team of developers to deliver projects on time and within budget",
        ]}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .main-section {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
  }

  .profile-photo {
    width: 200px;
  }

  /* Marquee styles */
  .marquee {
    --gap: 1.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin: 3.5rem 0;
    &:hover {
      .marquee-content {
        animation-play-state: paused;
      }
    }
  }

  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 30s linear infinite reverse;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
    .marquee-content {
      animation-play-state: paused !important;
    }
  }

  .sub-heading {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
  }


  @media screen and (max-width: 980px) {
    .main-section {
      gap: 1rem;
      display: block;
      word-break: break-word;
    }

    .profile-photo {
      float: left;
      width: 152px;
      margin: 10px;
    }

    :global(.devicon) {
      width: 45px !important;
      height: 45px !important;
    }
  }
</style>

  <script>
    import { greeting } from "../js/greeting";
    const greetingContainer = document.getElementById("greeting");
    if (greetingContainer) {
      greetingContainer.innerText = greeting();
    }
  </script>
