---
import DefaultLayout from '../components/LayoutDefault.astro';
import Button from '../components/Button.astro';
import Alert from '../components/Alert.astro';
import Socials from '../components/Socials.astro';
---

<DefaultLayout documentTitle="Contact" documentDescription="If you have a question or just want to say hi, I’ll get back to you as soon as I can!">
  <div class="container">
    <h1 class="main-heading text-swipe-animation">Contact me</h1>
    <p>If you have a question or just want to say hi, I’ll get back to you as soon as I can!<br class="main-heading-break" /> You can find me on social media, or please fill in the form to contact me.</p>

    <div class="top-row">
      <section class="social-section">
        <Socials />
      </section>

      <section>
        <!-- Contact me for access to the FormZen form service -->
        <form id="contact-form">
          <div class="form-block-row">
            <div class="form-control">
              <label>Name</label>
              <input id="name" name="name" type="text" />
            </div>

            <div class="form-control">
              <label>Email</label>
              <input id="email" name="email" type="email" />
            </div>
          </div>

          <div class="form-control">
            <label>Subject</label>
            <input id="subject" name="subject" type="text" />
          </div>

          <div class="form-control">
            <label>Message</label>
            <textarea required rows="8" id="message" name="message" />
          </div>

          <Button class="contact-form-submit-button">
            <svg id="contact-form-submit-button-spinner" width="16px" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#1fa768"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
            </svg>
            Send
          </Button>

          <div class="contact-form-message contact-form-message-success">
            <Alert type="success">Thank you, I've got your message and I will be in contact soon.</Alert>
          </div>

          <div class="contact-form-message contact-form-message-error">
            <Alert type="error">Sorry, there was an error submitting the form. Please try again or contact me by other means.</Alert>
          </div>
        </form>
      </section>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .top-row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    section {
      flex: 1;
    }
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.25rem;
    .form-block-row {
      display: flex;
      gap: 1rem;
    }
  }

  .contact-form-submit-button {
    gap: 0.35rem;
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  #contact-form-submit-button-spinner {
    display: none;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .contact-form-message {
    display: none;
  }

  .social-section {
    margin-top: 15px;
  }

  @keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(360deg); }
  }

  @media screen and (max-width: 980px) {
    .main-heading-break {
      display: none;
    }

    .top-row {
      gap: 2rem;
      flex-direction: column;
    }

    .contact-form-submit-button {
      width: 100%;
    }

    .socials {
      li {
        a {
          font-size: var(--font-size-lg);
          font-weight: normal;
          svg {
            width: 25px !important;
            height: 25px !important;
          }
        }
      }
    }
  }
</style>

<script hoist>
  import "../js/contactForm.ts";
</script>