---
import DefaultLayout from '../components/DefaultLayout.astro';
---

<DefaultLayout>
  <section class="container">
    <h1 class="main-heading text-swipe-animation">{greeting()}</h1>
    <div class="intro">
      <p>I'm Luke, a Senior Software Developer based in the UK with over {yearsInIndustry} years of experience building software.</p>
    </div>

    <div class="main-section">
      <img class="profile-photo" src="/images/me.png" alt="Luke Liasi">
      <div class="main-section-text">
        <p>My main expertise is front end web development using technologies such as: <span class="buzzword">JavaScript</span>, <span class="buzzword">TypeScript</span>, <span class="buzzword">React</span>, <span class="buzzword">HTML</span>, and <span class="buzzword">CSS</span>. I have a keen interest in design and UI/UX, and I also have experience with back end development using <span class="buzzword">Node/Express.js</span>, <span class="buzzword">SQL/NoSQL</span>, and <span class="buzzword">REST/GraphQL</span>.</p>
        <p>I'm passionate about solving problems and building efficient, organised systems that are fast, performant, and accessible to everyone.</p>
        <p>In my free time, I enjoy activities such as skiing, swimming, running, and gaming.</p>
      </div>
    </div>
  </section>

  <section class="marquee">
    <div class="marquee-content">
      <DevLogos />
    </div>

    <!-- Logos duplicated for scrolling effect -->
    <div aria-hidden="true" class="marquee-content">
      <DevLogos />
    </div>
  </section>

  <section class="container">
    <h2 class="sub-heading">Experience</h2>

    <div class="timeline-items">
      <TimelineItem
        company="LondonLink"
        title="Senior Software Developer"
        startDate="May 2021"
        logo="/images/LondonLink_Logo.svg"
        responsibilities={[
          "Lead front end engineer, designing and implementing new features for the trading platform.",
          "Implementing real-time websocket interfaces, which help to improve data concurrency/consistency and user experience.",
          "Developing internal compliance tools which have been recognised by the company's board of directors for significantly improving staff workflows and adherence to regulatory commitments.",
          "Conducting comprehensive end-to-end testing using tools such as Selenium, Mocha, and Chai to improve software quality, resulting in a reduction of defects and bugs."
        ]}
      />

      <TimelineItem
        company="Dodec"
        title="Senior Software Developer"
        startDate="Oct 2017"
        endDate="May 2021"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Project lead responsible for the successful launch of the Tefal UK e-commerce Magento store project, delivering the project on time and within budget. Duties include maintaining strict timelines and deadlines, and managing multiple cross-company teams and personnel, as well as collaborating with the client to understand their requirements.",
          "Plan and lead the development of a bespoke medical application that is composed of a Node.js back end and a React.js front end, ensuring strict compliance with security and privacy requirements while coordinating the work of our in-house team.",
          "Mentoring junior developers by providing technical guidance and support. Implementing best practices and standards for coding and testing, including using linting tools like ESLint and implementing pull-request workflows, to improve the team's code performance and reliability."
        ]}
      />

      <TimelineItem
        company="Dodec"
        title="Software Developer"
        startDate="Sep 2014"
        endDate="Oct 2017"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Directing the development of landing pages showcasing new products for household brands, including Tefal and Krups, optimising them for mobile compatibility using responsive design techniques, resulting in increased conversions.",
          "Designing and developing a streamlined experience for customers to register their GroupeSEB products, creating a scalable API built with Node.js and Express.js, and a MongoDB database capable of handling high traffic and requests.",
          "Designing and developing custom WordPress themes and plugins for a range of clients.",
        ]}
      />

      <TimelineItem
        company="Dodec"
        title="Junior Software Developer"
        startDate="Sep 2013"
        endDate="Sep 2014"
        logo="/images/Dodec_Logo.png"
        responsibilities={[
          "Assisting in designing and developing static websites using HTML, CSS, and JavaScript.",
          "Experience working on a Ruby on Rails project that is a large-scale employment platform, implemented key features and enhancements while developing a deep understanding of the Ruby on Rails framework and its capabilities.",
          "Providing technical support and guidance to non-technical staff, helping them to understand and use the company's web-based software platform more effectively by creating a series of training materials and tutorials.",
        ]}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss">

</style>