---
import DefaultLayout from '../components/DefaultLayout.astro';
---

<DefaultLayout>
  <section class="container">
    <h1 class="main-heading text-swipe-animation">Contact</h1>
  </section>
</DefaultLayout>

<style lang="scss">

</style>