---
import DefaultLayout from '../components/LayoutDefault.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import { writeToLocalDataFile, readLocalDataFile } from '../js/localDataManager';

// Fetch stars count from GitHub
async function getRepoStars(repo: string) {
  try {
    const res = await fetch("https://api.github.com/repos/" + repo);
    const data = await res.json();

    const stars = data.stargazers_count;
    const existingCache = await readLocalDataFile("openSourceProjectStars") || {};

    if (stars !== undefined) {
      // Cache stars count
      await writeToLocalDataFile("openSourceProjectStars", { ...existingCache, [repo]: stars });

      return stars;
    } else {
      // If we get rate limited or GitHub request fails, return the value from cache
      const valueFromCache = existingCache[repo];

      return valueFromCache || undefined;
    }
  } catch (error) {
    console.log(error);
    // Fallback to cache on error
    const existingCache = await readLocalDataFile("openSourceProjectStars") || {};
    return existingCache[repo] || undefined;
  }
}

const starsCount = {
  binanceBot: await getRepoStars("lukeliasi/binance-dca-bot"),
  lukeliasi: await getRepoStars("lukeliasi/lukeliasi.com"),
  databaseBackupsS3: await getRepoStars("lukeliasi/database-backups-s3"),
}
---

<DefaultLayout documentTitle="Projects" documentDescription="Welcome to my portfolio, showcasing a selection of projects I've worked on.">
  <div class="container">
    <h1 class="main-heading text-swipe-animation">Projects</h1>
    <div class="intro">
      <p>Welcome to my portfolio, showcasing a selection of side projects I've worked on.</p>
    </div>

    <section class="projects">
      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/lukeliasi/database-backups-s3"
        githubStarsCount={starsCount.databaseBackupsS3}
        projectYear="2023"
        title="Database S3 backups"
        image="/images/databaseS3Backups-portfolio.png"
        tags={[
          "JavaScript"
        ]}>
        <p slot="subtitle">This script is designed to automate the process of backing up various databases to AWS S3. It supports PostgreSQL, MySQL, and MongoDB.</p>

        <div slot="description">
          <p>When initialized, the script reads database connection URIs from environment variables.</p>
          <p>Scheduled through a cron job, it dumps the databases, compresses the data, and transfers the files to a predetermined AWS S3 bucket.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        isOpenSource
        sourceCode="https://github.com/lukeliasi/lukeliasi.com"
        githubStarsCount={starsCount.lukeliasi}
        projectYear="2023"
        title="My Portfolio lukeliasi.com"
        image="/images/lukeliasi-portfolio.png"
        tags={[
          "JavaScript",
          "TypeScript",
          "Astro",
          "HTML",
          "CSS",
        ]}>
        <p slot="subtitle">My portfolio website, the site you are looking at right now!</p>

        <div slot="description">
          <p>Built with the Astro framework, this website is optimized for speed and search engines, designed with recruiters and tech enthusiasts in mind to efficiently access information about my skills, experience, and projects.</p>
          <p>The project emphasizes simplicity, utilizing reusable components and minimal third-party libraries to streamline development and reduce maintenance.</p>
          <p>Embracing transparency and collaboration, the website's codebase is fully open-source, allowing others to review my code and draw inspiration. The growing number of forks and stars on GitHub highlights the project's adaptability and the value it brings to the developer community.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2022"
        title="Quince Players"
        image="/images/quinceplayers-portfolio.png"
        projectLink="https://quinceplayers.com"
        tags={[
          "JavaScript",
          "TypeScript",
          "Node.js",
          "Directus",
          "PostgreSQL",
          "HTML",
          "CSS",
          "Tailwind CSS"
        ]}>
        <p slot="subtitle">Website for a theatrical society. Powered by Directus CMS for content management.</p>

        <div slot="description">
          <p>Built using Node.js, Express, and EJS. The content comes from the Directus API and pages are rendered server-side with dynamic content using EJS as the templating language and TailwindCSS on the client side.</p>
          <p>The website is optimised for speed and for search engines. Content editors can easily manage current, upcoming and past shows, blog posts and more on the website.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2021"
        isOpenSource
        sourceCode="https://github.com/lukeliasi/binance-dca-bot"
        githubStarsCount={starsCount.binanceBot}
        title="Binance DCA Bot"
        image="/images/binance-dca-bot-portfolio.png"
        tags={[
          "JavaScript",
          "Node.js",
          "Docker",
          "MongoDB"
        ]}>
        <p slot="subtitle">Command-line trading bot using Node.js that connects to the Binance exchange and automatically executes trades via their API.</p>

        <div slot="description">
          <p>After being frustrated with the lack of tools to automate trades on the Binance platform, I developed this bot. It's open-source on GitHub with over 150 stars and includes a Docker image for easy deployment.</p>
          <p>The bot can be configured to trade specific currency pairs and includes options for external services such as email notifications through SendGrid and data storage using MongoDB as a storage adaptor.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2020"
        title="WillenHouse Student Housing"
        image="/images/willenhouse-portfolio.png"
        tags={[
          "JavaScript",
          "TypeScript",
          "React",
          "HTML",
          "CSS",
          "Node.js",
          "PostgreSQL",
          "AWS"
        ]}>
        <p slot="subtitle">Full-stack application that streamlines the process of booking housing for students.</p>

        <div slot="description">
          <p>The project included creating a bespoke CMS to manage payments, room details and more. The application is hosted on AWS cloud infrastructure and integrated with a secure payment gateway.</p>
          <p>The backend API, built using Node.js and Express, efficiently handles data while the frontend, created with React.js, presents it in an intuitive and user-friendly manner. The application simplifies the process for students to find and book available rooms, and for administrators to efficiently manage and update room information.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2020"
        title="Coinconomics"
        image="/images/coinconomics-portfolio.png"
        projectLink="https://www.coinconomics.com"
        tags={[
          "JavaScript",
          "TypeScript",
          "React",
          "Next.js",
          "HTML",
          "CSS",
          "SanityCMS"
        ]}>
        <p slot="subtitle">Next.js webapp with an intuitive UI that provides users with useful cryptocurrency pricing and information.</p>

        <div slot="description">
          <p>The frontend is built using React.js and it utilises the Next.js framework to fetch cryptocurrency information server-side through various API's. The webapp also includes API's to pull in crypto news and a SanityCMS setup to create in-house news posts.</p>
          <p>The webapp is designed to be easy to use and it provides accurate information in real-time, making it a valuable tool for anyone interested in the cryptocurrency market.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2018"
        title="Childrens Book Author"
        image="/images/fionabarker-portfolio.png"
        projectLink="https://fionabarker.co.uk/"
        tags={[
          "WordPress",
          "PHP",
          "MySQL",
          "HTML",
          "CSS",
          "JavaScript"
        ]}>
        <p slot="subtitle">Website for a children's book author, powered by WordPress for content management.</p>

        <div slot="description">
          <p>Built using WordPress and PHP, the website showcases all of the author's books and allows for easy management and uploading of new book content.</p>
          <p>The website features a custom theme, designed to showcase the books in an attractive and engaging way, with a focus on clean and modern design.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2015"
        title="Windsor ENT"
        image="/images/windsorent-portfolio.png"
        projectLink="https://www.windsor-ent.co.uk"
        tags={[
          "HTML",
          "CSS",
          "JavaScript",
        ]}>
        <p slot="subtitle">Website for a group of ear, nose and throat surgeons built using HTML, CSS, and JavaScript.</p>

        <div slot="description">
          <p>It is fully responsive, ensuring that the content is easily accessible on any device. The static site is optimised for speed and search engines, providing a seamless user experience and improving visibility for potential patients. </p>
          <p>The website includes detailed information about the surgeons' qualifications, services offered, and contact information. The site is easy to navigate, making it easy for patients to find the information they need quickly and efficiently.</p>
        </div>
      </PortfolioItem>
    </section>
  </div>
</DefaultLayout>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 2rem;
  }

  @media screen and (max-width: 980px) {
    .projects {
      margin-top: 1.5rem;
    }
  }
</style>