---
import DefaultLayout from '../components/DefaultLayout.astro';
import Button from "../components/Button.astro";
---

<DefaultLayout documentTitle="Projects">
  <section class="container">
    <h1 class="main-heading text-swipe-animation">Projects</h1>
    <div class="intro">
      <p>Here are a few things I've built.</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
</style>