---
import Menu from "../components/Menu.astro";
---

<header class="container">
  <div class="header-left">
    <a href="/" class="avatar">
      <img width="35" class="profile-pic" src="/images/profile-pic.jpg" alt="Luke Liasi profile picture" />
      <span class="name">Luke Liasi</span>
    </a>
  </div>

  <div class="header-right">
    <Menu />
  </div>
</header>

<style lang="scss">
  header {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar {
    color: var(--color-silver-100);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
      color: white;
      .profile-pic {
        filter: brightness(125%);
      }
    }
  }

  .profile-pic {
    border-radius: 50%;
  }

  .name {
    margin-left: 0.75rem;
    font-size: 18px;
  }
</style>