---
interface Props {
  canonical?: string;
  documentTitle: string;
  documentDescription?: string;
}

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Head from "./Head.astro";

// Props
const canonical = Astro.props.canonical;
const documentTitle = Astro.props.documentTitle;
const documentDescription = Astro.props.documentDescription;
---

<!DOCTYPE html>
<html lang="en">
  <Head
    documentTitle={documentTitle}
    documentDescription={documentDescription}
    canonical={canonical}
  />
  <body class="page">
    <Header />

    <main class="content-main">
      <slot />
    </main>

    <Footer />
  </body>
</html>
