---
import MenuItem from "./MenuItem.astro";
---

<nav>
  <ul>
    <MenuItem text="Home" link="/" />
    <MenuItem text="About" link="/about" />
    <MenuItem text="Contact" link="/contact" />
  </ul>
</nav>