---
layout: layout.njk
canonical: /about
eleventyNavigation:
  title: About
  order: 2
---

<section class="container max-w-6xl pt-6">
  <h1 class="text-swipe-animation inline-block dark:text-silver-100 text-silver-900 font-black sm:text-5xl text-3xl">
    {% greeter %}
  </h1>
  <p class="dark:text-silver-400 text-silver-900 text-lg leading-6">
    I'm Luke Liasi, a Senior Software Developer living in the UK.<br class="sm:block hidden" /> I have been developing software professionally for over {% yearsOfExperience %} years, and have a particular speciality in frontend web development.
  </p>

  <div class="flex mt-12 space-x-8 items-center">
    <img width="260px" src="/public/me.png" alt="Luke Liasi">

    <div class="space-y-2 flex-1">
      <p class="dark:text-silver-200 text-silver-900 text-lg leading-12">
        My main experience is in front-end development working with technologies such JavaScript, TypeScript, React, HTML and CSS with a keen eye for UI design and UX. Additionally, I have experience with backend development using technologies such as: Node.js, SQL/NoSQL and API design.
      </p>

      <p class="dark:text-silver-200 text-silver-900 text-lg leading-12">
        I enjoy problem-solving and strive to build efficient and organised systems while ensuring they are fast, performant and accessible for all.
      </p>


      <p class="dark:text-silver-200 text-silver-900 text-lg leading-12">
        In my spare time, I enjoy skiing, swimming and gaming!
      </p>
    </div>
  </div>
</section>

<div class="marquee dev-icons my-12">
  <div class="marquee-content">
    {% include 'devLogos.njk' %}
  </div>

  {# Logos duplicated for scrolling effect #}
  <div aria-hidden="true" class="marquee-content">
    {% include 'devLogos.njk' %}
  </div>
</div>